document.getElementById("main").innerHTML = "<h1>New Order</h1><%= escape_javascript render 'form', order: @order %><% if session[:user_id] %><%= escape_javascript link_to 'Back', orders_path %><% end %>"
